footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 18px;
    padding: 10px;
}

footer .redes{
    margin-top: 15px;
}

footer i{
    font-size: 35px;
    letter-spacing: 25px;
}

footer a{
    color: pink;
    
}

footer a:hover{
    color: #333;
}