footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 18px;
  padding: 10px;
}

footer .redes {
  margin-top: 15px;
}

footer i {
  font-size: 35px;
  letter-spacing: 25px;
}

footer a {
  color: pink;
}

footer a:hover {
  color: #333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  color: #ffffff;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 30px;
  text-shadow: 5px 5px 10px #e52a88;
}

.fondo {
  background-color: rgba(255, 0, 200, 0.605);
  border: 2px solid #000;
  width: 80%;
  margin: auto;
  height: auto;
  padding: 2%;
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.item {
  min-height: 200px;
  min-width: 200px;
  border: 2px solid #fff;
}

.item:hover {
  transform: scale(1.2);
  transition: 0.7s;
  filter: grayscale(1);
  box-shadow: 5px 5px 10px 1px #000;
}

.item1 {
  background-image: url(../img/1.jpeg);
  background-size: cover;
  background-position: center;
}

.item2 {
  background-image: url(../img/2.jpeg);
  background-size: cover;
}

.item3 {
  background-image: url(../img/3.jpeg);
  background-size: cover;
}

.item4 {
  background-image: url(../img/5.jpeg);
  background-size: cover;
  background-position: center;
}

.item5 {
  background-image: url(../img/4.jpeg);
  background-size: cover;
}

.item6 {
  background-image: url(../img/6.jpeg);
  background-size: cover;
}

.item7 {
  background-image: url(../img/7.jpeg);
  background-size: cover;
}

.item8 {
  background-image: url(../img/8.jpeg);
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 480px) {
  .fondo {
    background-color: pink;
  }
}

@media only screen and (max-width: 600px) {
  .fondo {
    background-color: pink;
    grid-template-columns: 1fr 1fr;
  }

  .item {
    min-height: 150px;
    min-width: 150px;
  }
}

@media only screen and (min-width: 602px) {}

@media only screen and (min-width: 768px) {
  .fondo {
    background-color: #ba3cf0;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .item1 {
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .item4 {
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .item2 {
    grid-column-start: 2;
    grid-column-end: 4;
    background-position: center;
  }

  .item8 {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

@media only screen and (min-width: 1024px) {
  .fondo {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .item2 {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .item3 {
    grid-column-start: 3;
    grid-column-end: 5;
  }

  .item8 {
    grid-column-start: 3;
    grid-column-end: 5;
  }
}

@media only screen and (min-width: 1200px) {
  .fondo {
    background-color: #565656;
  }
}

.call {
  width: 70%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px;
  border-radius: 10px;
  border: 2px solid #333;
}

.call p {
  margin-bottom: 20px;
}

.call a {
  background-color: violet;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid #333;
  border-radius: 5px;
}

.main {
  height: 600px;
  width: 100%;
  background-color: #333;
  background-image: url(../img/fondo.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

body {
  background-image: url(../img/fondo.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel-item{ width: 300px;}

/*# sourceMappingURL=estilos.css.map */